<footer class="pt-4">
    <h4 class="text-center">Партньори</h4>
    <article>
        <div class="d-flex w-100 text-center justify-content-around">
            <div class="col-3 p-0">
                <a href="http://industrial-technologies.com/bg/">ИТ ИНДУСТРИАЛНИ ТЕХНОЛОГИИ ООД</a><br>
                <a href="https://www.tumba.solutions/">Tumba Solutions Ltd.</a><br>
                <a href="https://it.schwarz/en/international/bulgaria">Schwarz IT Bulgaria</a><br>
                <a href="https://dxc.com/bg/en">DXC Technology</a><br>
                <a href="https://smartcom.bg/">Smartcom Bulgaria AD</a><br>
                <a href="https://www.a1.bg/bg">A1</a><br>
                <a href="https://www.datecs.bg/bg">Датекс ООД</a><br>
                <a href="https://www.breaktime.bg/en/">Breaktime</a><br>
            </div>
            <div class="col-3 p-0">
                <a href="https://m2mservices.com/">М2М</a><br>
                <a href="https://www.iodigital.com/en/about/campuses/campus-sofia">iO Campus Sofia</a><br>
                <a href="https://www.efellows.bg/">EFELLOWS</a><br>
                <a href="https://www.uni-sofia.bg/index.php/bul/universitet_t/fakulteti/stopanski_fakultet">Стопански факултет на СУ „Св. Климент Охридски“</a><br>
                <a href="https://www.bosch-digital.com/sofia/">Bosch.IO</a><br>
                <a href="https://www.nemetschek.bg/">Nemetschek OOD</a><br>
                <a href="https://www.bosch.bg/">Robert Bosch EOOD</a><br>
                <a href="https://www.festo.com/bg/bg/">Festo Production EOOD</a><br>
            </div>
            <div class="col-3 p-0">
                <a href="https://www.mellon.bg/bg/about-mellon-bulgaria/">МЕЛОН ЕООД</a><br>
                <a href="https://cobuilder.com/en/">COBUILDER SOFTWARE</a><br>
                <a href="https://bhtc-bulgaria.com/bg/">БЕРХЕЛА ТЕРМОКОНТРОЛ</a><br>
                <a href="https://www.nestle.bg/bg">НЕСТЛЕ БЪЛГАРИЯ</a><br>
                <a href="https://centillion.eu/">СЕНТИЛИОН ООД</a><br>
                <a href="https://fett.tu-sofia.bg/">ФЕТТ на ТУ-София</a><br>
                <a href="https://uctm.edu/bg/">ХТМУ</a><br>
                <a href="https://www.unwe.bg/">УНСС</a><br>
            </div>
        </div>
        <a class="d-flex justify-content-center" href="https://buttercms.com"><img src="https://cdn.buttercms.com/RyJ7UhcVTCRqrCFXwgCo" alt="ButterCMS logo"></a>
    </article>
</footer>